// Titan One (SIL Open Font License, via Google Fonts) is the UI face for the
// stylized-island look; browsers synthesize its bold and italic. The original
// Minecraft pixel faces remain below solely for the in-world terminal, which
// intentionally keeps its retro look (see Terminal3D.jsx / Terminal styles).

@font-face {
  font-family: "Titan One";
  src: url("/fonts/TitanOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Minecraft";
  src: url("/fonts/Minecraft-Regular.woff2") format("woff2"),
    url("/fonts/Minecraft-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Minecraft";
  src: url("/fonts/Minecraft-Bold.woff2") format("woff2"),
    url("/fonts/Minecraft-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
