//UI - General
$color-base-green: #1aa89c; // Deep Ocean teal accent
$color-base-gray: #c6c6c6;
$color-base-dark-gray: #4c4c4c;
$color-base-dark-gray-two: #585659;
$color-base-dark-gray-three: #313233;
$color-base-dark-gray-four: #131311;

// UI - Components
$color-base-header-gray: #494949;
$color-base-overlay-gray: #2929298a;

//Fonts
$color-font-primary-yellow: #ffe16b; // Deep Ocean soft yellow highlight
$color-font-dark-gray: #4c4c4c;
